{% extends "base.html" %}

{% block content %}
<section class="hero is-primary">
  <h1>Shopping Cart</h1>
  <button class="button is-primary" onclick="location.href='/'">Back to Shopping</button>
</section>

{% for item in items %}
<section class="hero is-info">
  <div class="hero-body">
    <div class="columns">
      <div class="column">
        {{item[0].quantity}} x {{item[1].name}}  
      </div>
      <div class="column">
        <button class="button is-warning">
          <b><a href="{{url_for('remove_from_cart', item_id=item[0].c_id)}}">Remove</a></b>
        </button>
      </div>
    </div> 
  </div>
</section>
{% endfor %}
{% endblock %}