{% extends "base.html" %}

{% block content %}
<section class="hero is-primary">
  <h1>Edit Product</h1>
  <button class="button is-light" onclick="location.href='/admin'">Exit Without Edit</button>
</section>


<section class="hero is-warning">
  <div class="hero-body">
    <form class="form" method="POST">

      <div class="form-group">
        <label>Name:</label>
        <input class="input" type="text" name="name" value="{{ product.name }}" class="form-control">
      </div>

      <div class="form-group">  
        <label>Desc:</label>
        <textarea class="textarea form-control" name="description">{{ product.description }}</textarea>
      </div>

      <div class="form-group">
        <label>Price:</label>
        <input class="input" type="number" name="price" value="{{ product.price }}" step="0.01" class="form-control">
      </div>

      <button class="button is-success" type="submit" class="btn btn-primary">Save</button>

    </form>
  </div>
</section>
{% endblock %}