{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">


<h4>Welcome {{username}}!</h4>
<div class="profile-container">
    <div class="user-profile">
        <h2>User Profile</h2>
        <div class="profile-info">
            <p><strong>Username:</strong> {{username}}</p>
            <p><strong>Email:</strong> {{email}}</p>
        </div>
    </div>
    <h2>Balance: ${{balance}}</h2>
    <div class="links">
        <a href="{{url_for('transaction_history')}}">Transaction History</a>
        <a href="{{url_for('send_money')}}">Send Money</a>

    </div>
</div>
{% endblock %}
