{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
  <title>Banking App</title>
</head>
<body>
  <div class="register-container">
    <h2>Create an account</h2>
    <form class="form" method="POST">
      <div class="form-group">
        <label>Email:</label>
        <input class="input" type="text" name="email" value="" class="form-control">
      </div>
      <div class="form-group">
        <label>Username:</label>
        <input class="input" type="text" name="username" value="" class="form-control">
      </div>
      <div class="form-group">  
        <label>Password:</label>
        <input class="input" type="text" name="password" value="" class="form-control">
      </div>
      <button class="button is-success" type="submit" class="btn btn-primary">Save</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a>.</p>
  </div>
</body>
</html>
{% endblock %}


