{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='transaction_history.css') }}">
    <div class="transaction-history">
        <h2>Transaction History</h2>

        <!-- <h3>Transactions to User:</h3> -->
        {% for to_user in transactions_to_user %}
            {% set to_account = Account.query.filter_by(account_id=to_user.to_account_id).first() %}
            {% set from_account = Account.query.filter_by(account_id=to_user.from_account_id).first() %}
            <div class="transaction transaction-to-user">
                <p><b>Date:</b> {{ to_user.transaction_date }}</p>
                <p><b>From:</b> {{ User.query.filter_by(user_id=from_account.u_id).first().user_name }}</p>
                <p><b>Amount:</b> + ${{ to_user.amount }}</p>
            </div>
        {% endfor %}

        <!-- <h3>Transactions from User:</h3> -->
        {% for from_user in transactions_from_user %}
            {% set to_account = Account.query.filter_by(account_id=from_user.to_account_id).first() %}
            {% set from_account = Account.query.filter_by(account_id=from_user.from_account_id).first() %}
            <div class="transaction transaction-from-user">
                <p><b>Date:</b> {{ from_user.transaction_date }}</p>
                <p><b>To:</b> {{ User.query.filter_by(user_id=to_account.u_id).first().user_name }}</p>
                <p><b>Amount:</b> - ${{ from_user.amount }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}